Repository bazzalabs/ui, pull requests merged in 2025-04, with the labels that each got.

#29 feat(docs): improve styling for callouts & code blocks
  apps/web/app/globals.css
Labels: enhancement

#28 feat(data-table-filter)!: deep-keyed properties and accessor functions in `defineMeta` helper
  apps/web/components/data-table-filter/demo.tsx
  apps/web/content/docs/data-table-filter.mdx
  apps/web/public/r/data-table-filter.json
  apps/web/public/site.webmanifest
  apps/web/registry/data-table-filter/lib/filters.test.ts
  apps/web/registry/data-table-filter/lib/filters.ts
  bun.lock
  examples/vite-basic/package.json
  examples/vite-basic/src/components/demo/dynamic/columns.tsx
  examples/vite-basic/src/components/demo/ex1/columns.tsx
  examples/vite-basic/src/lib/filters.ts
Labels: component: data table filter, feature

#32 fix(docs): removed colons from image filenames
  README.md
  assets/images/bazzaui-circle-dark.png
  assets/images/bazzaui-color.png
  assets/images/bazzaui-dark.png
  assets/images/bazzaui-light.png
  assets/images/bazzaui-v3-color.png
Labels: bug

#30 fix(data-table-filter/operators): display operator label (instead of value) in property filter operator menu
  apps/web/public/r/data-table-filter.json
  apps/web/registry/data-table-filter/components/data-table-filter.tsx
  examples/vite-basic/src/components/data-table-filter.tsx
Labels: bug, component: data table filter

#33 refactor(data-table-filter): refresh component naming convention
  apps/web/public/r/data-table-filter.json
  apps/web/registry/data-table-filter/components/data-table-filter.tsx
  apps/web/registry/data-table-filter/lib/filters.ts
  examples/vite-basic/src/components/data-table-filter.tsx
  examples/vite-basic/src/lib/filters.ts
Labels: component: data table filter, refactor

#43 feat(data-table-filter): the great decoupling
  .gitignore
  .vscode/launch.json
  apps/web/app/demo/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/components/code-block.tsx
  apps/web/components/data-table-filter-demo/data.ts
  apps/web/components/data-table-filter-demo/demo.tsx
  apps/web/components/data-table-filter-demo/dynamic/columns.tsx
  apps/web/components/data-table-filter-demo/dynamic/data-table.tsx
  apps/web/components/data-table-filter-demo/dynamic/data.ts
  apps/web/components/data-table-filter-demo/dynamic/demo.tsx
  apps/web/components/data-table-filter-demo/dynamic/types.ts
  apps/web/components/data-table-filter-demo/dynamic/utils.ts
  apps/web/components/data-table-filter-demo/types.tsx
  apps/web/components/data-table-filter-demo/v2/columns.tsx
  apps/web/components/data-table-filter-demo/v2/data-table.tsx
  apps/web/components/data-table-filter-demo/v2/data.ts
  apps/web/components/data-table-filter-demo/v2/demo.tsx
  apps/web/components/data-table-filter-demo/v2/types.ts
  apps/web/components/data-table-filter-demo/v2/utils.ts
  apps/web/components/mdx.tsx
  apps/web/components/ui/select.tsx
  apps/web/lib/highlighter.ts
  apps/web/lib/utils.ts
  apps/web/package.json
  apps/web/registry/data-table-filter-v2/components/data-table-filter.tsx
  apps/web/registry/data-table-filter-v2/lib/array.ts
  apps/web/registry/data-table-filter-v2/lib/filter-fns.ts
  apps/web/registry/data-table-filter-v2/lib/filters-tst.ts
  apps/web/registry/data-table-filter-v2/lib/filters.test.ts
  apps/web/registry/data-table-filter-v2/lib/filters.ts
  apps/web/registry/data-table-filter-v2/lib/filters.types.ts
  apps/web/registry/data-table-filter-v2/lib/memo.ts
  biome.jsonc
  bun.lock
Labels: Data table filter, Feature

#45 feat(data-table-filter): registry re-organization
  apps/web/components/data-table-filter-demo/v2/columns.tsx
  apps/web/components/data-table-filter-demo/v2/data-table.tsx
  apps/web/components/data-table-filter-demo/v2/demo.tsx
  apps/web/registry/data-table-filter-v2/components/active-filters.tsx
  apps/web/registry/data-table-filter-v2/components/data-table-filter.tsx
  apps/web/registry/data-table-filter-v2/components/filter-actions.tsx
  apps/web/registry/data-table-filter-v2/components/filter-operator.tsx
  apps/web/registry/data-table-filter-v2/components/filter-selector.tsx
  apps/web/registry/data-table-filter-v2/components/filter-subject.tsx
  apps/web/registry/data-table-filter-v2/components/filter-value.tsx
  apps/web/registry/data-table-filter-v2/core/filters.ts
  apps/web/registry/data-table-filter-v2/core/operators.ts
  apps/web/registry/data-table-filter-v2/core/types.ts
  apps/web/registry/data-table-filter-v2/hooks/use-data-table-filters.tsx
  apps/web/registry/data-table-filter-v2/index.tsx
  apps/web/registry/data-table-filter-v2/integrations/tanstack-table.tsx
  apps/web/registry/data-table-filter-v2/lib/filter-fns.ts
  apps/web/registry/data-table-filter-v2/lib/filters.test.ts
  apps/web/registry/data-table-filter-v2/ui/debounced-input.tsx
Labels: Data table filter, Feature, Refactor

#40 fix(data-table-filter): ignore non-filterable columns
  apps/web/components/data-table-filter/demo.tsx
  apps/web/public/r/data-table-filter.json
  apps/web/registry/data-table-filter/components/data-table-filter.tsx
  apps/web/registry/data-table-filter/lib/filters.ts
  examples/vite-basic/src/components/data-table-filter.tsx
  examples/vite-basic/src/lib/filters.ts
Labels: Bug, Data table filter

#51 fix(data-table-filter): use deep equality checks for lib/array/uniq
  apps/web/content/docs/data-table-filter.mdx
  apps/web/package.json
  apps/web/public/r/data-table-filter.json
  apps/web/registry/data-table-filter/__tests__/arrays.test.ts
  apps/web/registry/data-table-filter/lib/array.ts
  apps/web/registry/data-table-filter/lib/filters.test.ts
  apps/web/vitest-config.mts
  biome.jsonc
  bun.lock
  examples/vite-basic/src/lib/array.ts
  package.json
  turbo.json
Labels: Bug, Data table filter

#47 feat(data-table-filter): the great decoupling
  .gitignore
  .vscode/launch.json
  apps/web/app/demo/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/components/code-block.tsx
  apps/web/components/data-table-filter-demo/data.ts
  apps/web/components/data-table-filter-demo/demo.tsx
  apps/web/components/data-table-filter-demo/dynamic/columns.tsx
  apps/web/components/data-table-filter-demo/dynamic/data-table.tsx
  apps/web/components/data-table-filter-demo/dynamic/data.ts
  apps/web/components/data-table-filter-demo/dynamic/demo.tsx
  apps/web/components/data-table-filter-demo/dynamic/types.ts
  apps/web/components/data-table-filter-demo/dynamic/utils.ts
  apps/web/components/data-table-filter-demo/types.tsx
  apps/web/components/data-table-filter-demo/v2/columns.tsx
  apps/web/components/data-table-filter-demo/v2/data-table.tsx
  apps/web/components/data-table-filter-demo/v2/data.ts
  apps/web/components/data-table-filter-demo/v2/demo.tsx
  apps/web/components/data-table-filter-demo/v2/types.ts
  apps/web/components/data-table-filter-demo/v2/utils.ts
  apps/web/components/mdx.tsx
  apps/web/components/ui/select.tsx
  apps/web/lib/highlighter.ts
  apps/web/lib/utils.ts
  apps/web/package.json
  apps/web/registry/data-table-filter-v2/components/data-table-filter.tsx
  apps/web/registry/data-table-filter-v2/lib/array.ts
  apps/web/registry/data-table-filter-v2/lib/filter-fns.ts
  apps/web/registry/data-table-filter-v2/lib/filters-tst.ts
  apps/web/registry/data-table-filter-v2/lib/filters.test.ts
  apps/web/registry/data-table-filter-v2/lib/filters.ts
  apps/web/registry/data-table-filter-v2/lib/filters.types.ts
  apps/web/registry/data-table-filter-v2/lib/memo.ts
  bun.lock
Labels: Data table filter, Feature, Refactor

#53 feat(data-table-filter): server-side filtering
  apps/web/app/demo/page.tsx
  apps/web/app/demos/server/tst-query/_/columns.tsx
  apps/web/app/demos/server/tst-query/_/data-table.tsx
  apps/web/app/demos/server/tst-query/_/data.ts
  apps/web/app/demos/server/tst-query/_/fetch.ts
  apps/web/app/demos/server/tst-query/_/filters.tsx
  apps/web/app/demos/server/tst-query/_/issues-table.tsx
  apps/web/app/demos/server/tst-query/_/queries.ts
  apps/web/app/demos/server/tst-query/_/query-client-provider.tsx
  apps/web/app/demos/server/tst-query/_/table-skeleton.tsx
  apps/web/app/demos/server/tst-query/_/types.ts
  apps/web/app/demos/server/tst-query/_/utils.ts
  apps/web/app/demos/server/tst-query/layout.tsx
  apps/web/app/demos/server/tst-query/page.tsx
  apps/web/components/data-table-filter-demo/v2/demo.tsx
  apps/web/components/nav-bar.tsx
  apps/web/package.json
  apps/web/registry/data-table-filter-v2/__tests__/arrays.test.ts
  apps/web/registry/data-table-filter-v2/__tests__/data-table-filters.test.tsx
  apps/web/registry/data-table-filter-v2/components/data-table-filter.tsx
  apps/web/registry/data-table-filter-v2/lib/array.ts
  apps/web/registry/data-table-filter-v2/lib/filters-tst.ts
  apps/web/registry/data-table-filter-v2/lib/filters.test.ts
  apps/web/registry/data-table-filter-v2/lib/filters.ts
  apps/web/registry/data-table-filter-v2/lib/filters.types.ts
  apps/web/tsconfig.json
  apps/web/vitest-config.mts
  apps/web/vitest.config.mts
  bun.lock
  package.json
  turbo.json
Labels: Data table filter, Feature

#55 feat(data-table-filter): use muted text color for operator display
  apps/web/public/r/filters-v2.json
  apps/web/registry/data-table-filter-v2/components/filter-operator.tsx
Labels: Data table filter, Feature

#56 chore: add CHANGELOG.md
  CHANGELOG.md
Labels: Chore

#57 chore(deps): bump next.js to v15.3
  apps/web/package.json
  bun.lock
Labels: Chore

#63 chore(data-table-filter/demos/client): static client-side demo
  apps/web/app/demos/client/tst-static/_/columns.tsx
  apps/web/app/demos/client/tst-static/_/data-table.tsx
  apps/web/app/demos/client/tst-static/_/data.ts
  apps/web/app/demos/client/tst-static/_/fetch.ts
  apps/web/app/demos/client/tst-static/_/filters.tsx
  apps/web/app/demos/client/tst-static/_/issues-table-wrapper.tsx
  apps/web/app/demos/client/tst-static/_/issues-table.tsx
  apps/web/app/demos/client/tst-static/_/types.ts
  apps/web/app/demos/client/tst-static/_/utils.ts
  apps/web/app/demos/client/tst-static/layout.tsx
  apps/web/app/demos/client/tst-static/page.tsx
Labels: Data table filter, Chore

#69 chore: build registry
  apps/web/public/r/data-table-filter.json
Labels: Data table filter, Chore
