Repository bazzalabs/ui, pull requests merged in 2025-03, with the labels that each got.

#15 docs: disable copy install command button (until launch)
  apps/web/components/code-block-command.tsx
Labels: documentation

#16 fix: obstructive scrollbars
  apps/web/app/docs/[slug]/layout.tsx
  apps/web/app/docs/[slug]/page.tsx
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/components/code-block-command.tsx
Labels: bug

#18 fix: docs content overflows horizontally on mobile
  apps/web/app/docs/[slug]/layout.tsx
  apps/web/app/docs/[slug]/page.tsx
Labels: bug

#19 feat(data-table-filter): nuqs integration
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/components/data-table-filter/data.ts
  apps/web/components/data-table-filter/demo.tsx
  apps/web/package.json
  apps/web/public/r/data-table-filter.json
  apps/web/registry/data-table-filter/components/data-table-filter.tsx
  apps/web/registry/data-table-filter/lib/filters.ts
  bun.lock
  turbo.json
Labels: component: data table filter

#20 docs(data-table-filter): nuqs integration
  apps/web/app/globals.css
  apps/web/components/code-block-command.tsx
  apps/web/content/docs/data-table-filter.mdx
Labels: documentation, component: data table filter

#21 chore: new github account name (bazzadev -> kianbazza)
  README.md
  apps/web/README.md
  apps/web/app/page.tsx
  apps/web/content/docs/feedback.mdx
  apps/web/vercel-submodule.sh
Labels: chore

#22 fix: `transformOptionFn` causes type errors when left undefined
  apps/web/components/data-table-filter/data.ts
  apps/web/components/data-table-filter/demo.tsx
  apps/web/components/data-table-filter/types.tsx
  apps/web/content/docs/data-table-filter.mdx
  apps/web/public/r/data-table-filter.json
  apps/web/registry/data-table-filter/components/data-table-filter.tsx
  apps/web/registry/data-table-filter/lib/filters.ts
  examples/vite-basic/src/components/data-table-filter.tsx
  examples/vite-basic/src/components/demo/dynamic/data.ts
  examples/vite-basic/src/lib/filters.ts
Labels: bug, component: data table filter

#23 fix(styles): landing: syntax highlighting broken in light mode
  apps/web/app/globals.css
  apps/web/app/page.tsx
Labels: bug

#24 chore(data-table-filter): add labels column for filtering demo
  apps/web/components/data-table-filter/data.ts
  apps/web/components/data-table-filter/demo.tsx
  apps/web/components/data-table-filter/types.tsx
  apps/web/public/r/data-table-filter.json
  apps/web/registry/data-table-filter/components/data-table-filter.tsx
  examples/vite-basic/src/components/data-table-filter.tsx
Labels: component: data table filter, chore

#25 feat(docs): add github repo link to sidebar
  apps/web/components/app-sidebar.tsx
Labels: documentation, feature

#26 bug(data-table-filter): react-day-picker has peer dependency conflict with date-fns v4
  apps/web/public/r/data-table-filter.json
  apps/web/registry.json
Labels: bug, component: data table filter

#27 docs(data-table-filter): switch badge to beta
  apps/web/app/docs/[slug]/page.tsx
  apps/web/content/docs/data-table-filter.mdx
Labels: documentation, component: data table filter
